
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 


}
header{
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    align-items: center;
    
}
.nav_links{    
    display: flex;
    gap: 50px;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
   
}
.nav_link{
    list-style-type: none;
    
}
.nav_link a{
    color: white;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: none;

}
.nav_link button {
    border: 5px solid green;
    padding: 0px 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}
.nav_link .signup {
    background-color: green;
    color: white;
    border: none;
}

main {
    height: 100vh;
    background-image: url('./images/main_bg.jpg');
    background-size:cover ;
    /* background-position: center; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    /* color: white; */
    /* padding: 20px 40px; */
    /* box-sizing: border-box; */
}
main section 
{
    text-align: center;
    margin-top: 100px;   
}
main section h1{
    text-align: center;
    color: white;
    font-size: 80px;
    font-weight: bold;
    
}
main section a{
    color: white;
    font-size: 40px;
    color: white;
    text-decoration: none;
    gap: 90px;
    
   

}
.logo img{
    height: 130px;
    border-radius: 50%;
    object-fit: cover; /* Ensures the image fits within the round shape */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}
.grid-item {
    text-align: center;
}
.grid-item img {
    width: 750px;
    height: 350px;
}
.topdestination h1{
    text-align: left;
    color: rgb(21, 17, 17);
    font-size: 50px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
    text-decoration: underline;
    text-decoration-color: green;
    padding: 10px;

}
.griditem_name{
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    text-decoration: underline;
    text-decoration-color: green;
    margin-top: 10px;
    margin-bottom: 10px;

}
.seemore {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.seemore a {
    color: white;
    text-decoration: none;
}
.seemore a:hover {
    text-decoration: underline;
}
.aboutkerala{
    font-size: 40px;
    text-align: right;
    text-decoration: underline;
    text-decoration-color: green;
    margin: 20px;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.about-section img {
    max-width: 300px;
    max-height: 300px;
}
.about-section p {
    flex: 1;
    font-size: 30px;
    justify-content: center;
    margin-right: 20px;
    padding: 40px;
}
.para2 {
    flex: 1;
    font-size: 30px;
    justify-content: center;
    margin-right: 20px;
    padding: 40px;
}

